<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.myapp"> <!-- انتبه: لازم يطابق applicationId -->

    <!-- 👇 تصريح الإنترنت يضاف هنا -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 👇 من Android 13 لازم تصريح للإشعارات -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="project3admin"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
